<center>
  <h1><%= @artist.name %></h1>
  <h3><%= link_to @artist.genre.name, genre_path(@artist.genre) %></h3>
  <p><%= @artist.bio %><p>
</center>

<div class="row">
	<% @artist.albums.each do |album| %>
	<div class="col-md-4">
		<div class="panel panel-success">
		  <div class="panel-heading">
		    <h3 class="panel-title"><%= link_to album.title, album %></h3>
		  </div>
		  <div class="panel-body">
		  <ol>
		    <% album.songs.each do |song| %>
		    	<li><%= link_to song.name, song %></li>
		    <% end %>
		  </ol>
		  </div>
		</div>
	</div>
	<% end %>
</div>



